.contain{
    background-color: #ffffff44;
    backdrop-filter: blur(4px);
    border-bottom: 2.5px dashed #000;
    display: grid;
    grid-template-columns: repeat(6, auto);
    height: 4rem;
    align-content: center;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    position: sticky;
    top: 0.01px;
    box-shadow: 0 0 10px #000;
    z-index: 100;
}


.title{
    font-size: 3rem;
    position: relative;
    right: 6rem;
    letter-spacing: .2rem;
}

.emoji{
    font-size: 2.4rem;
    position: relative;
    padding-bottom: 0.3rem;
    right: 2rem;
    text-shadow: 0 0 5px #000;
}

.btn{
    height: 2.8rem;
    width: 5.5rem;
    text-align: center;
    font-size: 2rem;
    background-color: #DCD6E9;
    position: relative;
    right: 2rem;
    border: 3px dashed #a090c7;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover{
    animation: button infinite 1s linear;
    border: 4px dashed #000;
    scale: 0.9;
}

@keyframes button {
    0% {
        background-color: #c0a3ff;
    }
    25% {
        background-color: #afbbff;
    }
    50% {
        background-color: #b3ddff;
    }
    75% {
        background-color: #f4a1ff;
    }
    100% {
        background-color: #ffb7b7;
    }
}