.contain{
    background-color: #d4fde5ce;
    border: 2px solid #000;
    border-radius: .5rem 2rem;
    box-shadow: 0 0 5px #000;
    padding: .5rem 0 .5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 35rem;
    text-align: center;
    cursor: pointer;
}

.contain:hover{
    scale: 1.05;
}

.contain:active{
    scale: .9 ;
}

.name{
    background-color: #bcfcd8;
    width: 15rem;
    height: auto;
    margin: .5rem 0;
    text-align: center;
    font-size: 2rem;
    border: 4px inset #fff;
}

.img{
    height: 12rem;
    width: 15rem;
    object-fit: contain;
    background-color: #f5f5dc;
    outline: 2.5px dashed #000;
    border-radius: .5rem;
}

.h3{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.containTemps{
    background-color: #8f8f8f8e;
    width: 90%;
    height: auto;
    border: 2px dashed #424040;
    border-radius: 2rem;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-items: start;
    gap: 0 1.5rem;
}

.temperaments{
    font-size: 1.3rem;
    width: 45%;
}