.input{
    background: #FBEADA;
    height: 2.5rem;
    width: 13rem;
    position: relative;
    left: 4.8rem;
    outline: 2px dashed #F7BED3;
    font-size: 2rem;
    border-radius: .5rem;
    border: none;
}

.input:focus{
    outline: 2px dashed #000;
}

.input::placeholder{
    text-align: center;
}

.btn{
    background: #FBEADA;
    height: 2.8rem;
    width: 2.8rem;
    position: relative;
    border: 2px dashed #F7BED3;
    font-size: 1.5rem;
    padding-top: .2rem;
    border-radius: .5rem;
}

.btn:hover{
    animation: button infinite 2s alternate;
    border: 3px dashed #000;
    scale: 0.9;
}

@keyframes button {
    0% {
        background-color: #ffcadc;
    }
    50% {
        background-color: #fc9ec0;
    }
    100% {
        background-color: #ff8bb6;
    }
}