.contain{
    display: grid;
    justify-items: center;
    justify-content: center;
}

.title{
    background-color: #d8c99c;
    height: 4.5rem;
    width: 40rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #fffefe;
    font-size: 3rem;
    text-align: center;
    border: 2.5px dashed #000;
    border-radius: .5rem 3rem;
}